.confirmModal {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .75);
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal-content {
    margin: auto;
    width: 50%;
}